name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: '4 2 * * 0'

defaults:
  run:
    shell: bash


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.alpine-base
          load: true
          tags: optix2000/deluge-base:latest
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.debian-base
          load: true
          tags: optix2000/deluge-base:debian
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.deluge
          load: true
          tags: optix2000/deluge:latest
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.deluge
          load: true
          build-args: BASE_TAG=debian
          tags: optix2000/deluge:debian
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.web
          load: true
          tags: optix2000/deluge-web:latest
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.web
          load: true
          build-args: BASE_TAG=debian
          tags: optix2000/deluge-web:debian
      - uses: docker/login-action@v3
        if: ${{ github.event_name == 'schedule' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          ./tag.sh optix2000/deluge:latest
          ./tag.sh optix2000/deluge:debian
          ./tag.sh optix2000/deluge-web:latest
          ./tag.sh optix2000/deluge-web:debian
          docker push --all-tags optix2000/deluge
          docker push --all-tags optix2000/deluge-web
        if: ${{ github.event_name == 'schedule' }}
